/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

/* Fonte padrão */
body {
  font-family: "Roboto", sans-serif;
}

/* Fontes específicas para títulos */
.title-nerko {
  font-family: "Nerko One", cursive;
}

.title-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Cores e gradientes */
.amigo-bg-primary {
  background-color: #79b3bb;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #79b3bb, #4a7d8c);
}

/* Cabeçalho e Navegação */
.c-nav {
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-nav .nav-item i {
  margin-right: 10px;
  font-size: large;
}

.c-busca {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
}

/* Estilos responsivos para o cabeçalho */
@media (max-width: 991px) {
  .c-nav {
    height: auto;
  }

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .navbar-collapse,
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  form.d-flex {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100%;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Rodapé */
footer {
  background-color: #eeeeee;
  color: #333;
  padding: 30px 0;
  margin-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer h5 {
  font-weight: bold;
  text-transform: uppercase;
}

footer a.footer-link {
  color: #333;
  text-decoration: none;
}

footer a.footer-link:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 190px;
}

.footer-description {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 0px;
}

.payment-card {
  width: 65px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-card img {
  width: 40px;
  height: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.copyright {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  footer .row .col-md-3 {
    margin-bottom: 1.5rem;
  }
}

/* Botão para voltar ao topo */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #79b3bb;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px; /* Bordas arredondadas */
  font-size: 16px;
  width: 40px; /* Largura quadrada menor */
  height: 40px; /* Altura quadrada menor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#btn-back-to-top:hover {
  background-color: #5d99a1;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Animações para fadeIn e fadeOut */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Página Inicial */
/* Estilo do banner (carousel) */
.custom-carousel {
  width: 95%;
  max-width: 1140px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.custom-carousel-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .custom-carousel-img {
    height: auto;
    max-height: 200px;
  }
}

/* Dicas (carousel) */
.dicas-carousel {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.dicas-carousel .carousel-control-prev,
.dicas-carousel .carousel-control-next {
  width: 5%;
}

.dicas-carousel .carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.dicas-carousel .carousel-item:hover img {
  transform: scale(1.05);
}

/* Legenda do carousel */
.dicas-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.dicas-carousel .carousel-caption h5 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 15px;
  font-weight: bold;
}

.dicas-carousel .carousel-caption p {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 20px;
}

.dicas-carousel .btn-primary {
  background-color: #79b3bb;
  border: none;
  padding: 12px 25px;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.dicas-carousel .btn-primary:hover {
  background-color: #5d99a1;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Produtos */
.product-image-container {
  height: 250px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.badge-new,
.badge-discount {
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Classe específica para aplicar o efeito de zoom */
.zoom-effect {
  transition: all 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-link:hover {
  text-decoration: underline;
  transition: color 0.6s ease;
  color: #498893;
}

.rating {
  font-size: 0.9rem;
  color: #f1c40f;
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 15px;
}

.card-body h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-body h6.price {
  font-weight: bold;
  font-size: 1rem;
  color: #79b3bb;
  margin-top: 0.5rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.price s {
  margin-right: 5px;
}

.text-danger {
  color: #e74c3c;
}

/* Botão Ver tudo */
.btn-primary {
  border-radius: 15px;
  border: none;
  background-color: #79b3bb;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none; /* Evita a seleção de texto ao clicar */
}

.btn-primary:hover {
  background-color: #5d99a1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #5d99a1; /* Mantém a cor ao clicar ou focar */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  outline: none; /* Remove o contorno de foco azul */
  border: none; /* Remove qualquer borda */
}

.btn-primary:active {
  transform: scale(0.98); /* Pequeno efeito de clique */
  background-color: #5d99a1; /* Cor do botão durante o clique */
}

/* Divider */
.custom-divider {
  width: 1140px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

/* Estilos compartilhados entre as páginas de registro e login */
.form-title {
  font-family: "Nerko One", cursive;
  font-size: 40px;
  color: black;
}

.form-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #6c757d;
}

/* Estilos para os links "Entrar" e "Cadastrar" */
.form-footer a,
.register-footer a,
.login-footer a {
  color: #498893; /* Cor personalizada combinando com o tema */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.form-footer a:hover,
.register-footer a:hover,
.login-footer a:hover {
  color: #31667a; /* Cor mais escura para o hover */
  text-decoration: underline; /* Sutileza ao passar o mouse */
}

/* Classe específica para inputs maiores */
.input-field {
  height: 50px;
  padding: 15px;
  font-size: 15px;
}

/* Estilo para garantir que o olho fique dentro do input */
.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 45px;
}

.password-toggle-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.password-toggle-btn svg {
  color: #6c757d;
  font-size: 18px;
  transition: color 0.25s ease-in-out;
}

.password-toggle-btn:hover svg {
  color: #000;
}

.divider span {
  background-color: white;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.btn-outline-secondary i {
  font-size: 24px;
  color: #6c757d;
}

.footer-link {
  color: black;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-btn {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn svg {
  font-size: 22px;
}

/* Estilo do controle de range com a classe personalizada */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-range:hover {
  opacity: 1;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #79b3bb;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #79b3bb;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #79b3bb;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-webkit-slider-thumb:hover {
  background: #5d99a1;
}

/* Estilo do checkbox com a classe personalizada */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #63a6af;
  border-color: #63a6af;
}

.custom-checkbox input[type="checkbox"]:checked::before {
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: center;
}

/* Estilo customizado para o paginator */
.custom-pagination .custom-page-link,
.custom-pagination .custom-page-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 5px;
  min-width: 50px; /* Tamanho mínimo igual para todos */
  text-align: center;
  text-decoration: none;
}

.custom-pagination .custom-page-link:hover,
.custom-pagination .custom-page-number:hover {
  background-color: #79b3bb;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Estilo para página ativa */
.custom-pagination .custom-page-number.active {
  background-color: #79b3bb;
  color: white;
  border-color: #5d99a1;
}

.custom-pagination .custom-page-link svg {
  margin-right: 5px; /* Espaço entre a seta e o texto */
}

.custom-pagination .custom-page-link svg.fa-arrow-right {
  margin-left: 5px; /* Espaço entre o texto e a seta à direita */
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item a {
  color: #6c757d; /* Cinza */
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: #5d99a1; /* Cor ao passar o mouse */
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #333;
  font-weight: bold;
}

.card-img-top {
  border-radius: 15px 15px 0 0; /* Bordas arredondadas apenas no topo do card */
  object-fit: cover; /* Mantém a proporção da imagem */
  height: 200px; /* Altura ajustável conforme necessário */
  width: 100%; /* Ajusta a largura para cobrir todo o card */
}

.card-servico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-servico .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-servico .card-body .btn {
  margin-top: auto;
}
